.App {
  background-color: #121212;
  color: #EEEEEE;
  
  padding: calc(10px + 2vmin);
  min-height: 100vh;
  
  align-items: center;
  display: flex;
  flex-direction: column;

  text-align: center;
  font-weight: 300;
  font-size: calc(10px + 1vmin);
}

.App-title {
  font-weight: 600;
  margin-block-start: 0;
}

.App-body {
  max-width: 75vw;
}

.App-link {
  color: #61dafb;
}
