.TagColumn {
    display: flex;
    flex-direction: column;
    margin-left: calc(5px + 1vw);
    margin-right: calc(5px + 1vw);
}

.TagColumn-header {
    font-weight: 400;
    font-size: calc(10px + 1.5vmin);
}